In [18]:
import pandas as pd
data1 = pd.read_excel("cleaned_data1.xls")

In [19]:
data1.head()

,PropertyCity,Veteran,EstimatedCreditScore,BankruptcyForeClosureCheck,PropertyUse,EstimatedPropertyValue,LoanAmountRequested,AdditionalCashRequired,LenderId,APRPercentage,...,LoanAmount,LoanProductName,LoanProgramId,LoanTermMonths,LockTermDays,RatePercentage,TotalFees,TotalMonthlyPayment,IsBestOffer,Status
15019,Nokomis,1,3,no,OWNEROCCUPIED,550000,180001,0,9,4.656,...,180001,20 Yr Fixed,2,240,45,4.500,2370,1139,False,NaN
15019,Nokomis,1,3,no,OWNEROCCUPIED,550000,180001,0,232,4.734,...,180001,5/1 ARM,6,360,45,4.125,795,873,False,NaN
15019,Nokomis,1,3,no,OWNEROCCUPIED,550000,180001,0,9,5.354,...,180001,VA 30 Yr Fixed,1,360,45,5.125,4665,1002,False,NaN
15019,Nokomis,1,3,no,OWNEROCCUPIED,550000,180001,0,7,4.077,...,180001,VA 15 Yr Fixed,3,180,30,3.625,5571,1326,True,NaN
15019,Nokomis,1,3,no,OWNEROCCUPIED,550000,180001,0,7,4.500,...,180001,20 Yr Fixed,2,240,30,4.500,0,1139,False,NaN

In [9]:
cleanup_nums = {"BankruptcyForeClosureCheck":     {"bankruptcy": 1, "foreclosure": 2, "no": 3},
                "PropertyUse": {"INVESTMENTPROPERTY": 1, "OWNEROCCUPIED": 2, "SECONDHOME": 3}}
data1.replace(cleanup_nums, inplace=True)
data1.head()

,PropertyCity,Veteran,EstimatedCreditScore,BankruptcyForeClosureCheck,PropertyUse,EstimatedPropertyValue,LoanAmountRequested,AdditionalCashRequired,LenderId,APRPercentage,...,LoanAmount,LoanProductName,LoanProgramId,LoanTermMonths,LockTermDays,RatePercentage,TotalFees,TotalMonthlyPayment,IsBestOffer,Status
15019,Nokomis,1,3,3,2,550000,180001,0,9,4.656,...,180001,20 Yr Fixed,2,240,45,4.500,2370,1139,False,NaN
15019,Nokomis,1,3,3,2,550000,180001,0,232,4.734,...,180001,5/1 ARM,6,360,45,4.125,795,873,False,NaN
15019,Nokomis,1,3,3,2,550000,180001,0,9,5.354,...,180001,VA 30 Yr Fixed,1,360,45,5.125,4665,1002,False,NaN
15019,Nokomis,1,3,3,2,550000,180001,0,7,4.077,...,180001,VA 15 Yr Fixed,3,180,30,3.625,5571,1326,True,NaN
15019,Nokomis,1,3,3,2,550000,180001,0,7,4.500,...,180001,20 Yr Fixed,2,240,30,4.500,0,1139,False,NaN

In [11]:
a = data1['PropertyCity'].unique()

In [12]:
j = 1
b = []
for i in a:
    b.append((j,i))
    j=j+1

In [20]:
b

[(1, 'Nokomis'),
 (2, 'Alliance'),
 (3, 'Antioch'),
 (4, 'Charlotte'),
 (5, 'Renton'),
 (6, 'Cypress'),
 (7, 'Spring Lake'),
 (8, 'Great Falls'),
 (9, 'Vero Beach'),
 (10, 'San Leandro'),
 (11, 'Hillsboro'),
 (12, 'Macungie'),
 (13, 'Panama City'),
 (14, 'Channahon'),
 (15, 'Midland Park'),
 (16, 'Woodford'),
 (17, 'Jamaica'),
 (18, 'Richardson'),
 (19, 'Hockessin'),
 (20, 'New Bern'),
 (21, 'Blue Springs'),
 (22, 'Bokeelia'),
 (23, 'Burlington Flats'),
 (24, 'Blairsville'),
 (25, 'Pasadena'),
 (26, 'Las Vegas'),
 (27, 'Owings Mills'),
 (28, 'Deland'),
 (29, 'Williamston'),
 (30, 'Escondido'),
 (31, 'Marietta'),
 (32, 'Villa Park'),
 (33, 'Covington'),
 (34, 'Lawrenceburg'),
 (35, 'Cross Junction'),
 (36, 'East Elmhurst'),
 (37, 'Huntington Beach'),
 (38, 'Midland'),
 (39, 'Ladson'),
 (40, 'Lawton'),
 (41, 'Lakeville'),
 (42, 'Scotts Valley'),
 (43, 'Conroe'),
 (44, 'Carmel'),
 (45, 'Seven Valleys'),
 (46, 'Chapel Hill'),
 (47, 'Harriman'),
 (48, 'O Fallon'),
 (49, 'Lake Jackson'),
 (50, 'Ocala'),
 (51, 'Indianapolis'),
 (52, 'Lexington'),
 (53, 'Chula Vista'),
 (54, 'Alpharetta'),
 (55, 'Kentland'),
 (56, 'Mount Prospect'),
 (57, 'Sierra Vista'),
 (58, 'Galesburg'),
 (59, 'Page'),
 (60, 'Concord'),
 (61, 'London'),
 (62, 'Vacaville'),
 (63, 'Glendora'),
 (64, 'Wake Forest'),
 (65, 'Tacoma'),
 (66, 'Columbia'),
 (67, 'Cave Springs'),
 (68, 'Waynesboro'),
 (69, 'Roosevelt'),
 (70, 'Pataskala'),
 (71, 'Phoenix'),
 (72, 'Tappan'),
 (73, 'San Ramon'),
 (74, 'Vancouver'),
 (75, 'Jackson'),
 (76, 'Fair Haven'),
 (77, 'Leesburg'),
 (78, 'Delta Junction'),
 (79, 'El Paso'),
 (80, 'Saint Francis'),
 (81, 'San Diego'),
 (82, 'Windsor Mill'),
 (83, 'Ashland'),
 (84, 'Falls Church'),
 (85, 'Matthews'),
 (86, 'Laconia'),
 (87, 'Shiloh'),
 (88, 'Tooele'),
 (89, 'Schenectady'),
 (90, 'Dover'),
 (91, 'Irving'),
 (92, 'Dallas'),
 (93, 'Stamps'),
 (94, 'Dayton'),
 (95, 'Hanover'),
 (96, 'Homestead'),
 (97, 'Lawrenceville'),
 (98, 'Forney'),
 (99, 'New York'),
 (100, 'Minneapolis'),
 (101, 'Calexico'),
 (102, 'Lees Summit'),
 (103, 'Milton'),
 (104, 'Austin'),
 (105, 'Palm Springs'),
 (106, 'Peyton'),
 (107, 'Flint'),
 (108, 'Jessup'),
 (109, 'Prescott Valley'),
 (110, 'Safford'),
 (111, 'Simpsonville'),
 (112, 'Florence'),
 (113, 'Boylston'),
 (114, 'Lafayette'),
 (115, 'Princeton'),
 (116, 'Hightstown'),
 (117, 'Strongsville'),
 (118, 'Myrtle Beach'),
 (119, 'Stafford'),
 (120, 'Moorpark'),
 (121, 'San Bernardino'),
 (122, 'Chicago'),
 (123, 'Houston'),
 (124, 'Jonesboro'),
 (125, 'Church Point'),
 (126, 'Hilliard'),
 (127, 'Monroe'),
 (128, 'Eagar'),
 (129, 'Ozark'),
 (130, 'Jacksonville'),
 (131, 'Cumming'),
 (132, 'Rock Hill'),
 (133, 'Riverdale'),
 (134, 'Hopkins'),
 (135, 'Apple Valley'),
 (136, 'Asbury Park'),
 (137, 'Superior'),
 (138, 'Kingwood'),
 (139, 'Washington'),
 (140, 'Richland'),
 (141, 'Tampa'),
 (142, 'Manchester'),
 (143, 'Prairie Village'),
 (144, 'Lenoir City'),
 (145, 'Ringgold'),
 (146, 'Mystic'),
 (147, 'Orting'),
 (148, 'Marion'),
 (149, 'Rocky Ridge'),
 (150, 'Millburn'),
 (151, 'Pinckney'),
 (152, 'Pinehurst'),
 (153, 'West Palm Beach'),
 (154, 'Paramount'),
 (155, 'Charleston'),
 (156, 'Columbus'),
 (157, 'Upper Marlboro'),
 (158, 'Gilbertsville'),
 (159, 'Wagoner'),
 (160, 'Baton Rouge'),
 (161, 'Santa Fe'),
 (162, 'Middlebury'),
 (163, 'Leesville'),
 (164, 'Northwood'),
 (165, 'New London'),
 (166, 'Pomona'),
 (167, 'Watertown'),
 (168, 'Roscommon'),
 (169, 'Lander'),
 (170, 'Peru'),
 (171, 'Girard'),
 (172, 'Portland'),
 (173, 'Cape Coral'),
 (174, 'Huntsville'),
 (175, 'Oregon'),
 (176, 'Deridder'),
 (177, 'Berry'),
 (178, 'New Lenox'),
 (179, 'Millington'),
 (180, 'Canyon'),
 (181, 'Kermit'),
 (182, 'Kennett Square'),
 (183, 'Deale'),
 (184, 'Camano Island'),
 (185, 'Kunkletown'),
 (186, 'Crossville'),
 (187, 'Middleton'),
 (188, 'Montclair'),
 (189, 'Lutz'),
 (190, 'Milton Freewater'),
 (191, 'Sacramento'),
 (192, 'Castro Valley'),
 (193, 'Durham'),
 (194, 'Seattle'),
 (195, 'Pompano Beach'),
 (196, 'Brooklyn'),
 (197, 'West Warwick'),
 (198, 'Ypsilanti'),
 (199, 'Zephyrhills'),
 (200, 'Haysville'),
 (201, 'Somerset'),
 (202, 'Maitland'),
 (203, 'Deltona'),
 (204, 'Jupiter'),
 (205, 'Pisgah'),
 (206, 'Fort Myers'),
 (207, 'Uhrichsville'),
 (208, 'Hendersonville'),
 (209, 'Milwaukee'),
 (210, 'Holly Springs'),
 (211, 'Millbury'),
 (212, 'Findlay'),
 (213, 'New Portland'),
 (214, 'Scituate'),
 (215, 'Georgetown'),
 (216, 'Roslindale'),
 (217, 'Erie'),
 (218, 'Whittier'),
 (219, 'Lincolnshire'),
 (220, 'Loveland'),
 (221, 'Saint George'),
 (222, 'Chesterton'),
 (223, 'Riverton'),
 (224, 'Lancaster'),
 (225, 'Lake Elsinore'),
 (226, 'Lake Ariel'),
 (227, 'Wilsonville'),
 (228, 'Hodgenville'),
 (229, 'San Antonio'),
 (230, 'Aiken'),
 (231, 'Glastonbury'),
 (232, 'Anaheim'),
 (233, 'Wilmette'),
 (234, 'Los Angeles'),
 (235, 'Reseda'),
 (236, 'Aberdeen'),
 (237, 'Green Valley'),
 (238, 'Tallahassee'),
 (239, 'Chardon'),
 (240, 'Prescott'),
 (241, 'Maynard'),
 (242, 'Fargo'),
 (243, 'Red Bluff'),
 (244, 'Dade City'),
 (245, 'Clarksville'),
 (246, 'Kyle'),
 (247, 'Yuma'),
 (248, 'Englewood'),
 (249, 'Clermont'),
 (250, 'Glen Carbon'),
 (251, 'Cleveland'),
 (252, 'Poway'),
 (253, 'Norfolk'),
 (254, 'Tonawanda'),
 (255, 'Jackson Heights'),
 (256, 'Arnold'),
 (257, 'Waterboro'),
 (258, 'Staten Island'),
 (259, 'Barnegat'),
 (260, 'Kings Mountain'),
 (261, 'Herkimer'),
 (262, 'Windsor'),
 (263, 'Lumberton'),
 (264, 'Nashville'),
 (265, 'Wentzville'),
 (266, 'Amarillo'),
 (267, 'Warren'),
 (268, 'West Islip'),
 (269, 'Carrollton'),
 (270, 'Mesquite'),
 (271, 'Corpus Christi'),
 (272, 'Grove Hill'),
 (273, 'Cedar Rapids'),
 (274, 'Victorville'),
 (275, 'Forest'),
 (276, 'Raleigh'),
 (277, 'Pahrump'),
 (278, 'San Jose'),
 (279, 'Golden'),
 (280, 'Syracuse'),
 (281, 'Rio Vista'),
 (282, 'Bronx'),
 (283, 'Grovetown'),
 (284, 'New Windsor'),
 (285, 'Hattiesburg'),
 (286, 'Alexandria'),
 (287, 'El Dorado'),
 (288, 'Hesperia'),
 (289, 'Birmingham'),
 (290, 'Ewa Beach'),
 (291, 'Clifton'),
 (292, 'Bowling Green'),
 (293, 'Virginia Beach'),
 (294, 'Morton'),
 (295, 'Colorado Springs'),
 (296, 'Palmdale'),
 (297, 'Lorain'),
 (298, 'Madison'),
 (299, 'Burleson'),
 (300, 'Santa Barbara'),
 (301, 'Libby'),
 (302, 'Sugar Land'),
 (303, 'Lincoln'),
 (304, 'West Jordan'),
 (305, 'West Sacramento'),
 (306, 'Montgomery Village'),
 (307, 'Spring'),
 (308, 'Fort Lauderdale'),
 (309, 'North Bend'),
 (310, 'Lewisport'),
 (311, 'Shermans Dale'),
 (312, 'Green Bay'),
 (313, 'Davison'),
 (314, 'Fairfield'),
 (315, 'Painesville'),
 (316, 'White Plains'),
 (317, 'Smithsburg'),
 (318, 'Abingdon'),
 (319, 'Unionville'),
 (320, 'Athens'),
 (321, 'Lilburn'),
 (322, 'Scottsdale'),
 (323, 'Salinas'),
 (324, 'Omaha'),
 (325, 'Danbury'),
 (326, 'De Soto'),
 (327, 'Laredo'),
 (328, 'Goose Creek'),
 (329, 'Perry Hall'),
 (330, 'New Albany'),
 (331, 'Canton'),
 (332, 'Chesterfield'),
 (333, 'Township Of Washington'),
 (334, 'Elk Grove'),
 (335, 'Whitley City'),
 (336, 'Streamwood'),
 (337, 'Rockledge'),
 (338, 'Logan'),
 (339, 'Armonk'),
 (340, 'Murrieta'),
 (341, 'Fredericksburg'),
 (342, 'Centreville'),
 (343, 'Andover'),
 (344, 'Somersworth'),
 (345, 'Orlando'),
 (346, 'Dacula'),
 (347, 'Rockford'),
 (348, 'Sioux Falls'),
 (349, 'Granbury'),
 (350, 'Scott Depot'),
 (351, 'District Heights'),
 (352, 'Camarillo'),
 (353, 'Cibolo'),
 (354, 'Cincinnati'),
 (355, 'Methuen'),
 (356, 'Benton'),
 (357, 'Teaneck'),
 (358, 'Homer Glen'),
 (359, 'Glendale'),
 (360, 'Milledgeville'),
 (361, 'Bellflower'),
 (362, 'Louisville'),
 (363, 'Bath'),
 (364, 'Kenton'),
 (365, 'Lebanon'),
 (366, 'Bellingham'),
 (367, 'Laurens'),
 (368, 'Snohomish'),
 (369, 'Saint Marys'),
 (370, 'Southgate'),
 (371, 'Kansas City'),
 (372, 'Indian Hills'),
 (373, 'Mobile'),
 (374, 'Johnston'),
 (375, 'Decatur'),
 (376, 'Garland'),
 (377, 'Ridgewood'),
 (378, 'Keller'),
 (379, 'Dublin'),
 (380, 'Medina'),
 (381, 'Modesto'),
 (382, 'Turlock'),
 (383, 'Church Hill'),
 (384, 'Red Lake Falls'),
 (385, 'Wilmington'),
 (386, 'Alameda'),
 (387, 'Cordova'),
 (388, 'Murrells Inlet'),
 (389, 'Valrico'),
 (390, 'Yucaipa'),
 (391, 'Thomasville'),
 (392, 'Westcliffe'),
 (393, 'West Orange'),
 (394, 'Mansfield'),
 (395, 'Baltimore'),
 (396, 'Fullerton'),
 (397, 'Duryea'),
 (398, 'Stockbridge'),
 (399, 'Arvada'),
 (400, 'Waterford'),
 (401, 'Fort Smith'),
 (402, 'Fremont'),
 (403, 'Atlanta'),
 (404, 'Stratford'),
 (405, 'Des Moines'),
 (406, 'Chaska'),
 (407, 'Evansville'),
 (408, 'Sylva'),
 (409, 'Yukon'),
 (410, 'El Cajon'),
 (411, 'Council Bluffs'),
 (412, 'Flagstaff'),
 (413, 'Woodbridge'),
 (414, 'Bakersfield'),
 (415, 'Mechanicsville'),
 (416, 'Warrenton'),
 (417, 'Heber Springs'),
 (418, 'Saint Paul'),
 (419, 'Buckeye'),
 (420, 'Willingboro'),
 (421, 'Plainfield'),
 (422, 'Lynn'),
 (423, 'Bridgeville'),
 (424, 'Ossining'),
 (425, 'Port Angeles'),
 (426, 'Rosamond'),
 (427, 'Chula'),
 (428, 'San Dimas'),
 (429, 'Richmond'),
 (430, 'Sebastopol'),
 (431, 'Rio Rancho'),
 (432, 'Hatley'),
 (433, 'Windham'),
 (434, 'Stevens Point'),
 (435, 'Muncie'),
 (436, 'Westerville'),
 (437, 'Red Oak'),
 (438, 'Annapolis'),
 (439, 'Reno'),
 (440, 'Mustang'),
 (441, 'Middletown'),
 (442, 'Needville'),
 (443, 'Mendocino'),
 (444, 'Evanston'),
 (445, 'Port Saint Lucie'),
 (446, 'Suquamish'),
 (447, 'Enterprise'),
 (448, 'Salt Lake City'),
 (449, 'Goodlettsville'),
 (450, 'Winters'),
 (451, 'Standish'),
 (452, 'Gastonia'),
 (453, 'Fayetteville'),
 (454, 'Saint Louis'),
 (455, 'Peabody'),
 (456, 'Miami')]

In [14]:
j = 1
c = {}
for i in a:
    c[i] = j
    j = j+1

In [15]:
c

{'Nokomis': 1,
 'Alliance': 2,
 'Antioch': 3,
 'Charlotte': 4,
 'Renton': 5,
 'Cypress': 6,
 'Spring Lake': 7,
 'Great Falls': 8,
 'Vero Beach': 9,
 'San Leandro': 10,
 'Hillsboro': 11,
 'Macungie': 12,
 'Panama City': 13,
 'Channahon': 14,
 'Midland Park': 15,
 'Woodford': 16,
 'Jamaica': 17,
 'Richardson': 18,
 'Hockessin': 19,
 'New Bern': 20,
 'Blue Springs': 21,
 'Bokeelia': 22,
 'Burlington Flats': 23,
 'Blairsville': 24,
 'Pasadena': 25,
 'Las Vegas': 26,
 'Owings Mills': 27,
 'Deland': 28,
 'Williamston': 29,
 'Escondido': 30,
 'Marietta': 31,
 'Villa Park': 32,
 'Covington': 33,
 'Lawrenceburg': 34,
 'Cross Junction': 35,
 'East Elmhurst': 36,
 'Huntington Beach': 37,
 'Midland': 38,
 'Ladson': 39,
 'Lawton': 40,
 'Lakeville': 41,
 'Scotts Valley': 42,
 'Conroe': 43,
 'Carmel': 44,
 'Seven Valleys': 45,
 'Chapel Hill': 46,
 'Harriman': 47,
 'O Fallon': 48,
 'Lake Jackson': 49,
 'Ocala': 50,
 'Indianapolis': 51,
 'Lexington': 52,
 'Chula Vista': 53,
 'Alpharetta': 54,
 'Kentland': 55,
 'Mount Prospect': 56,
 'Sierra Vista': 57,
 'Galesburg': 58,
 'Page': 59,
 'Concord': 60,
 'London': 61,
 'Vacaville': 62,
 'Glendora': 63,
 'Wake Forest': 64,
 'Tacoma': 65,
 'Columbia': 66,
 'Cave Springs': 67,
 'Waynesboro': 68,
 'Roosevelt': 69,
 'Pataskala': 70,
 'Phoenix': 71,
 'Tappan': 72,
 'San Ramon': 73,
 'Vancouver': 74,
 'Jackson': 75,
 'Fair Haven': 76,
 'Leesburg': 77,
 'Delta Junction': 78,
 'El Paso': 79,
 'Saint Francis': 80,
 'San Diego': 81,
 'Windsor Mill': 82,
 'Ashland': 83,
 'Falls Church': 84,
 'Matthews': 85,
 'Laconia': 86,
 'Shiloh': 87,
 'Tooele': 88,
 'Schenectady': 89,
 'Dover': 90,
 'Irving': 91,
 'Dallas': 92,
 'Stamps': 93,
 'Dayton': 94,
 'Hanover': 95,
 'Homestead': 96,
 'Lawrenceville': 97,
 'Forney': 98,
 'New York': 99,
 'Minneapolis': 100,
 'Calexico': 101,
 'Lees Summit': 102,
 'Milton': 103,
 'Austin': 104,
 'Palm Springs': 105,
 'Peyton': 106,
 'Flint': 107,
 'Jessup': 108,
 'Prescott Valley': 109,
 'Safford': 110,
 'Simpsonville': 111,
 'Florence': 112,
 'Boylston': 113,
 'Lafayette': 114,
 'Princeton': 115,
 'Hightstown': 116,
 'Strongsville': 117,
 'Myrtle Beach': 118,
 'Stafford': 119,
 'Moorpark': 120,
 'San Bernardino': 121,
 'Chicago': 122,
 'Houston': 123,
 'Jonesboro': 124,
 'Church Point': 125,
 'Hilliard': 126,
 'Monroe': 127,
 'Eagar': 128,
 'Ozark': 129,
 'Jacksonville': 130,
 'Cumming': 131,
 'Rock Hill': 132,
 'Riverdale': 133,
 'Hopkins': 134,
 'Apple Valley': 135,
 'Asbury Park': 136,
 'Superior': 137,
 'Kingwood': 138,
 'Washington': 139,
 'Richland': 140,
 'Tampa': 141,
 'Manchester': 142,
 'Prairie Village': 143,
 'Lenoir City': 144,
 'Ringgold': 145,
 'Mystic': 146,
 'Orting': 147,
 'Marion': 148,
 'Rocky Ridge': 149,
 'Millburn': 150,
 'Pinckney': 151,
 'Pinehurst': 152,
 'West Palm Beach': 153,
 'Paramount': 154,
 'Charleston': 155,
 'Columbus': 156,
 'Upper Marlboro': 157,
 'Gilbertsville': 158,
 'Wagoner': 159,
 'Baton Rouge': 160,
 'Santa Fe': 161,
 'Middlebury': 162,
 'Leesville': 163,
 'Northwood': 164,
 'New London': 165,
 'Pomona': 166,
 'Watertown': 167,
 'Roscommon': 168,
 'Lander': 169,
 'Peru': 170,
 'Girard': 171,
 'Portland': 172,
 'Cape Coral': 173,
 'Huntsville': 174,
 'Oregon': 175,
 'Deridder': 176,
 'Berry': 177,
 'New Lenox': 178,
 'Millington': 179,
 'Canyon': 180,
 'Kermit': 181,
 'Kennett Square': 182,
 'Deale': 183,
 'Camano Island': 184,
 'Kunkletown': 185,
 'Crossville': 186,
 'Middleton': 187,
 'Montclair': 188,
 'Lutz': 189,
 'Milton Freewater': 190,
 'Sacramento': 191,
 'Castro Valley': 192,
 'Durham': 193,
 'Seattle': 194,
 'Pompano Beach': 195,
 'Brooklyn': 196,
 'West Warwick': 197,
 'Ypsilanti': 198,
 'Zephyrhills': 199,
 'Haysville': 200,
 'Somerset': 201,
 'Maitland': 202,
 'Deltona': 203,
 'Jupiter': 204,
 'Pisgah': 205,
 'Fort Myers': 206,
 'Uhrichsville': 207,
 'Hendersonville': 208,
 'Milwaukee': 209,
 'Holly Springs': 210,
 'Millbury': 211,
 'Findlay': 212,
 'New Portland': 213,
 'Scituate': 214,
 'Georgetown': 215,
 'Roslindale': 216,
 'Erie': 217,
 'Whittier': 218,
 'Lincolnshire': 219,
 'Loveland': 220,
 'Saint George': 221,
 'Chesterton': 222,
 'Riverton': 223,
 'Lancaster': 224,
 'Lake Elsinore': 225,
 'Lake Ariel': 226,
 'Wilsonville': 227,
 'Hodgenville': 228,
 'San Antonio': 229,
 'Aiken': 230,
 'Glastonbury': 231,
 'Anaheim': 232,
 'Wilmette': 233,
 'Los Angeles': 234,
 'Reseda': 235,
 'Aberdeen': 236,
 'Green Valley': 237,
 'Tallahassee': 238,
 'Chardon': 239,
 'Prescott': 240,
 'Maynard': 241,
 'Fargo': 242,
 'Red Bluff': 243,
 'Dade City': 244,
 'Clarksville': 245,
 'Kyle': 246,
 'Yuma': 247,
 'Englewood': 248,
 'Clermont': 249,
 'Glen Carbon': 250,
 'Cleveland': 251,
 'Poway': 252,
 'Norfolk': 253,
 'Tonawanda': 254,
 'Jackson Heights': 255,
 'Arnold': 256,
 'Waterboro': 257,
 'Staten Island': 258,
 'Barnegat': 259,
 'Kings Mountain': 260,
 'Herkimer': 261,
 'Windsor': 262,
 'Lumberton': 263,
 'Nashville': 264,
 'Wentzville': 265,
 'Amarillo': 266,
 'Warren': 267,
 'West Islip': 268,
 'Carrollton': 269,
 'Mesquite': 270,
 'Corpus Christi': 271,
 'Grove Hill': 272,
 'Cedar Rapids': 273,
 'Victorville': 274,
 'Forest': 275,
 'Raleigh': 276,
 'Pahrump': 277,
 'San Jose': 278,
 'Golden': 279,
 'Syracuse': 280,
 'Rio Vista': 281,
 'Bronx': 282,
 'Grovetown': 283,
 'New Windsor': 284,
 'Hattiesburg': 285,
 'Alexandria': 286,
 'El Dorado': 287,
 'Hesperia': 288,
 'Birmingham': 289,
 'Ewa Beach': 290,
 'Clifton': 291,
 'Bowling Green': 292,
 'Virginia Beach': 293,
 'Morton': 294,
 'Colorado Springs': 295,
 'Palmdale': 296,
 'Lorain': 297,
 'Madison': 298,
 'Burleson': 299,
 'Santa Barbara': 300,
 'Libby': 301,
 'Sugar Land': 302,
 'Lincoln': 303,
 'West Jordan': 304,
 'West Sacramento': 305,
 'Montgomery Village': 306,
 'Spring': 307,
 'Fort Lauderdale': 308,
 'North Bend': 309,
 'Lewisport': 310,
 'Shermans Dale': 311,
 'Green Bay': 312,
 'Davison': 313,
 'Fairfield': 314,
 'Painesville': 315,
 'White Plains': 316,
 'Smithsburg': 317,
 'Abingdon': 318,
 'Unionville': 319,
 'Athens': 320,
 'Lilburn': 321,
 'Scottsdale': 322,
 'Salinas': 323,
 'Omaha': 324,
 'Danbury': 325,
 'De Soto': 326,
 'Laredo': 327,
 'Goose Creek': 328,
 'Perry Hall': 329,
 'New Albany': 330,
 'Canton': 331,
 'Chesterfield': 332,
 'Township Of Washington': 333,
 'Elk Grove': 334,
 'Whitley City': 335,
 'Streamwood': 336,
 'Rockledge': 337,
 'Logan': 338,
 'Armonk': 339,
 'Murrieta': 340,
 'Fredericksburg': 341,
 'Centreville': 342,
 'Andover': 343,
 'Somersworth': 344,
 'Orlando': 345,
 'Dacula': 346,
 'Rockford': 347,
 'Sioux Falls': 348,
 'Granbury': 349,
 'Scott Depot': 350,
 'District Heights': 351,
 'Camarillo': 352,
 'Cibolo': 353,
 'Cincinnati': 354,
 'Methuen': 355,
 'Benton': 356,
 'Teaneck': 357,
 'Homer Glen': 358,
 'Glendale': 359,
 'Milledgeville': 360,
 'Bellflower': 361,
 'Louisville': 362,
 'Bath': 363,
 'Kenton': 364,
 'Lebanon': 365,
 'Bellingham': 366,
 'Laurens': 367,
 'Snohomish': 368,
 'Saint Marys': 369,
 'Southgate': 370,
 'Kansas City': 371,
 'Indian Hills': 372,
 'Mobile': 373,
 'Johnston': 374,
 'Decatur': 375,
 'Garland': 376,
 'Ridgewood': 377,
 'Keller': 378,
 'Dublin': 379,
 'Medina': 380,
 'Modesto': 381,
 'Turlock': 382,
 'Church Hill': 383,
 'Red Lake Falls': 384,
 'Wilmington': 385,
 'Alameda': 386,
 'Cordova': 387,
 'Murrells Inlet': 388,
 'Valrico': 389,
 'Yucaipa': 390,
 'Thomasville': 391,
 'Westcliffe': 392,
 'West Orange': 393,
 'Mansfield': 394,
 'Baltimore': 395,
 'Fullerton': 396,
 'Duryea': 397,
 'Stockbridge': 398,
 'Arvada': 399,
 'Waterford': 400,
 'Fort Smith': 401,
 'Fremont': 402,
 'Atlanta': 403,
 'Stratford': 404,
 'Des Moines': 405,
 'Chaska': 406,
 'Evansville': 407,
 'Sylva': 408,
 'Yukon': 409,
 'El Cajon': 410,
 'Council Bluffs': 411,
 'Flagstaff': 412,
 'Woodbridge': 413,
 'Bakersfield': 414,
 'Mechanicsville': 415,
 'Warrenton': 416,
 'Heber Springs': 417,
 'Saint Paul': 418,
 'Buckeye': 419,
 'Willingboro': 420,
 'Plainfield': 421,
 'Lynn': 422,
 'Bridgeville': 423,
 'Ossining': 424,
 'Port Angeles': 425,
 'Rosamond': 426,
 'Chula': 427,
 'San Dimas': 428,
 'Richmond': 429,
 'Sebastopol': 430,
 'Rio Rancho': 431,
 'Hatley': 432,
 'Windham': 433,
 'Stevens Point': 434,
 'Muncie': 435,
 'Westerville': 436,
 'Red Oak': 437,
 'Annapolis': 438,
 'Reno': 439,
 'Mustang': 440,
 'Middletown': 441,
 'Needville': 442,
 'Mendocino': 443,
 'Evanston': 444,
 'Port Saint Lucie': 445,
 'Suquamish': 446,
 'Enterprise': 447,
 'Salt Lake City': 448,
 'Goodlettsville': 449,
 'Winters': 450,
 'Standish': 451,
 'Gastonia': 452,
 'Fayetteville': 453,
 'Saint Louis': 454,
 'Peabody': 455,
 'Miami': 456}

In [16]:
cleanup_num = {"PropertyCity":     c}
data1.replace(cleanup_num, inplace=True)
data1.head()

,PropertyCity,Veteran,EstimatedCreditScore,BankruptcyForeClosureCheck,PropertyUse,EstimatedPropertyValue,LoanAmountRequested,AdditionalCashRequired,LenderId,APRPercentage,...,LoanAmount,LoanProductName,LoanProgramId,LoanTermMonths,LockTermDays,RatePercentage,TotalFees,TotalMonthlyPayment,IsBestOffer,Status
15019,1,1,3,3,2,550000,180001,0,9,4.656,...,180001,20 Yr Fixed,2,240,45,4.500,2370,1139,False,NaN
15019,1,1,3,3,2,550000,180001,0,232,4.734,...,180001,5/1 ARM,6,360,45,4.125,795,873,False,NaN
15019,1,1,3,3,2,550000,180001,0,9,5.354,...,180001,VA 30 Yr Fixed,1,360,45,5.125,4665,1002,False,NaN
15019,1,1,3,3,2,550000,180001,0,7,4.077,...,180001,VA 15 Yr Fixed,3,180,30,3.625,5571,1326,True,NaN
15019,1,1,3,3,2,550000,180001,0,7,4.500,...,180001,20 Yr Fixed,2,240,30,4.500,0,1139,False,NaN

In [17]:
data1.to_excel("numeric_cleaned.xls")