In [3]:
import pandas as pd
data1 = pd.read_excel("cleaned_data1.xls")

In [5]:
data1.head()

,PropertyCity,Veteran,EstimatedCreditScore,BankruptcyForeClosureCheck,PropertyUse,EstimatedPropertyValue,LoanAmountRequested,AdditionalCashRequired,LenderId,APRPercentage,...,LoanAmount,LoanProductName,LoanProgramId,LoanTermMonths,LockTermDays,RatePercentage,TotalFees,TotalMonthlyPayment,IsBestOffer,Status
15019,Nokomis,1,3,no,OWNEROCCUPIED,550000,180001,0,9,4.656,...,180001,20 Yr Fixed,2,240,45,4.500,2370,1139,False,NaN
15019,Nokomis,1,3,no,OWNEROCCUPIED,550000,180001,0,232,4.734,...,180001,5/1 ARM,6,360,45,4.125,795,873,False,NaN
15019,Nokomis,1,3,no,OWNEROCCUPIED,550000,180001,0,9,5.354,...,180001,VA 30 Yr Fixed,1,360,45,5.125,4665,1002,False,NaN
15019,Nokomis,1,3,no,OWNEROCCUPIED,550000,180001,0,7,4.077,...,180001,VA 15 Yr Fixed,3,180,30,3.625,5571,1326,True,NaN
15019,Nokomis,1,3,no,OWNEROCCUPIED,550000,180001,0,7,4.500,...,180001,20 Yr Fixed,2,240,30,4.500,0,1139,False,NaN

In [ ]:
cleanup_nums = {"BankruptcyForeClosureCheck":     {"bankruptcy": 1, "foreclosure": 2, "none": 3},
                "PropertyUse": {"INVESTMENTPROPERTY": 1, "OWNEROCCUPIED": 2, "SECONDHOME": 3}}